*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo{
    height: 60px;
}

.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.292);
}

.navbar_icons li{
    list-style: none;
    cursor: pointer;
}

.navbar_icons li a{
    text-decoration: none;
}

.navbar_icons li :hover{
    background-color: rgba(0, 0, 0, 0.317);
    border-radius: 10px;
}

.navbar_icons{
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.container1{
    border-radius: 10px;
    width: 70%;
}

.container2{
    border: solid 1px rgba(0, 0, 0, 0.292);
    border-radius: 10px;
    width: 25%;
    height: 77vh;
}

.container_post{
    border: solid 1px rgba(0, 0, 0, 0.292);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.titre_post{
    display: grid;
    align-content: space-between;
    padding: 1rem 0;
}
.image_post img{
    width: 200px;
}

@media (max-width: 767px) {
    .navbar_icons{
        display: none;
    }
}